*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 90%;
}


body {
    background-image: url("https://www.vtbl.nl/sites/default/files/styles/liggend_hoge_resolutie/public/content/images/2019/04/06/willem.jpg?itok=Qw1vUTFi");
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 70%;
}

#container {
    display: flex;
    width: 100%;
    height: 120%;
    margin-left: 5%;
    background-color:green;
}

#content {
    width: 100%;
    color: #333;
    height: 100%;
    padding: 0% 10% 2% 10%;
}


.verticaal {
    background-color: #f1f1f1;
    float: left;
    font-size: 4.0rem;
    width: 100%;
    margin-top: 0%;
    height: 97%;
    padding: 10px 20px;
}




.verticaal li {
    display: block;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}



a.menu{
    text-decoration: none;
    color: #333;
}

a.menu:hover, li:hover {
    background-color: #d1e0e0;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    text-transform: lowercase;
    font-variant: small-caps;
    color: white;
}

p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: left;
}

#header {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 5%;
    text-align: left;
   
}

.header_tekst{
font-family: 'Anton', sans-serif;
font-size:150px;
text-align: left;}




.test{
    margin-left:275px
}

.sponsor{
    margin-top:25px;
    margin-left:100px;
    width: 25%;
    height: 250px;
    border-style:solid;
    border-color:black;
    border-width:10px;
    text-align: center;
}

#logo {
    width: 35%;
    height: 250px;
   margin-left: 5%;
}

#rookvrij {
    align-content: right;
}